<div class="masterscore">
	<%= form_for(@masterscore) do |f| %> 
		<div class="row">
			<table class="table table-bordered">
				<tr class="info">
					<th>プレー日</th>
					<th>コース</th>
					<th>スコア</th>
				</tr>
				<tr>
					<td class="form-group">
						<div class='input-group date' id='datetimepicker'>
              <%= f.text_field :date, class: "form-control", placeholder: "yyyy/mm/dd" %>
            	<span class="input-group-addon">
              	<span class="glyphicon glyphicon-calendar"></span>
            	</span>
            </div>
            <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker').datetimepicker({
	                  locale: 'ja',
	               		useCurrent: true,
	               		format: 'YYYY/M/D'
	                });
	            });
        		</script>
					</td>
					<td><%= @masterscore.course_name %></a></td>
					<td>
						<%= @masterscore.total_score %>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="row">
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr class="info">
						<th>ホール</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>10</th>
						<th>11</th>
						<th>12</th>
						<th>13</th>
						<th>14</th>
						<th>15</th>
						<th>16</th>
						<th>17</th>
						<th>18</th>
					</tr>
					<tr>
						<td>スコア</td>
						<%= f.fields_for :scores do |scores_form| %>
							<td>
								<%= scores_form.hidden_field :hole_no, :value => scores_form.index+1 %>
								<%= scores_form.number_field :hole_score, class: "form-control" %>
							</td>
						<% end %>
					</tr>
				</table>
			</div>
		</div>
	
		<%= f.hidden_field :total_score, :value => @masterscore.total_score %>
		<%= f.hidden_field :course_code, :value => @masterscore.course_code %>
		<%= f.hidden_field :course_name, :value => @masterscore.course_name %>
		<%= f.submit 'スコア更新', class: 'btn btn-success' %> 
	<% end %>
</div>